---
---

// Only the main Sass file needs front matter (the dashes are enough)

@charset "utf-8";

/* Theme imports */
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Font faces */
@font-face{
  font-family: "Homemade Apple";
  src: url("fonts/HomemadeApple/HomemadeApple-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Table of contents active link hover colour */
.toc .active a:hover {
  color: inherit;
}

/* Colours for notices */
@mixin notice($notice-color) {
  color: inherit;
  background-color: $notice-color;
  a {
    color: inherit;
  };
  code {
    background-color: mix($background-color, $notice-color, 25%);
  };
}

.notice {
  @include notice($light-gray);
}

.notice--primary {
  @include notice($primary-color);
}

.notice--info {
  @include notice($info-color);
}

.notice--warning {
  @include notice($warning-color);
}

.notice--success {
  @include notice($success-color);
}

.notice--danger {
  @include notice($danger-color);
}

/* Site title */
.site-title {
  font-family: "Homemade Apple", cursive;
  font-weight: normal;
}

/* Back to top button */
.sidebar__top {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  z-index: 10;
  font-size: smaller;
  ::before {
    color: $primary-color;
  }
}

/* External link indicator */
/* Exclude indicator from buttons, social icons, and Bokeh logo */
.page, .page__hero--overlay {
  a:not(.btn):not([href*="localhost:4000"]):not([href*="//ayirp.gitlab.io"]):not([href^="#"]):not([href^="/"])::after {
    content: " \f35d";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    text-rendering: auto;
    font-weight: 900;
    font-variant: normal;
    font-size: smaller;
    font-style: normal;
    white-space: pre;
    -webkit-font-smoothing: antialiased;
  }
}
